<h1>Add Quote</h1>
<div>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="author">Name</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Name is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="user">Quote</label>
            <textarea class="form-control" id="user" rows="4" [(ngModel)]="newQuote.user" name="user" #user="ngModel" required></textarea>
            <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
              <p>User is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="day">Day</label>
            <input type='date' id="day" [(ngModel)]="newQuote.day" name="day" #day="ngModel" required>
            <div [hidden]="day.valid || day.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Goal</button>
    </form>
</div>
