<h1>Add Quote</h1>
<div>
    <form > 
        <p>Add Quote here</p>
        <input type="text" autocomplete="off" placeholder="Enter your name .." class="form-control" id="name" name="name">
        <input type="text" autocomplete="off" placeholder="Enter your Email@ .." class="form-control"  name="email">
        <textarea type="text" autocomplete="off" placeholder="Type Quote .." class="form-control" id="message" name="message"> </textarea>
        <button type="submit" class="btn btn-success btn-block btn-lg">SUBMIT</button>
    </form>
</div>
