<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <div *ngFor='let quote of quotes; let i = index'>
                <div class="all-cards">
                    
                        <p>"{{quote.author}}"</p>
                        <p>"{{quote.user}}"</p>
                        <!-- <p>{{quotes.unlike}}</p>
        <p>{{quotes.like}}</p>
         -->
                        <a class="btn btn-block btn-success" (click)="like(i)" id="like">Like Quote : {{quote.like}}

                        </a>
                        <a class="btn btn-block btn-success" (click)="unlike(i)" id="dislike">Dislike Quote :
                            {{quote.unlike}}

                        </a>
                        <app-say-work [quotes]="quotes" (deleteQuote)='deleteThisQuote($event , i)'></app-say-work>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="jumbotron">
                <app-form (addQuote)="addNewQuote($event)"></app-form>
            </div>
        </div>

    </div>